In [1388]:
import pandas as pd
import numpy as np

from math import radians, cos, sin, asin, sqrt

In [1389]:
trn = pd.read_csv('../datasets/train.csv')

C:\Users\65902\AppData\Local\Temp\ipykernel_5732\236146557.py:1: DtypeWarning: Columns (41) have mixed types. Specify dtype option on import or set low_memory=False.
  trn = pd.read_csv('../datasets/train.csv')

In [1390]:
trn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150634 entries, 0 to 150633
Data columns (total 77 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         150634 non-null  int64
 1   Tranc_YearMonth            150634 non-null  object
 2   town                       150634 non-null  object
 3   flat_type                  150634 non-null  object
 4   block                      150634 non-null  object
 5   street_name                150634 non-null  object
 6   storey_range               150634 non-null  object
 7   floor_area_sqm             150634 non-null  float64
 8   flat_model                 150634 non-null  object
 9   lease_commence_date        150634 non-null  int64
 10  resale_price               150634 non-null  float64
 11  Tranc_Year                 150634 non-null  int64
 12  Tranc_Month                150634 non-null  int64
 13  mid_storey                 150634 non-null  int64
 14  lower                      150634 non-null  int64
 15  upper                      150634 non-null  int64
 16  mid                        150634 non-null  int64
 17  full_flat_type             150634 non-null  object
 18  address                    150634 non-null  object
 19  floor_area_sqft            150634 non-null  float64
 20  hdb_age                    150634 non-null  int64
 21  max_floor_lvl              150634 non-null  int64
 22  year_completed             150634 non-null  int64
 23  residential                150634 non-null  object
 24  commercial                 150634 non-null  object
 25  market_hawker              150634 non-null  object
 26  multistorey_carpark        150634 non-null  object
 27  precinct_pavilion          150634 non-null  object
 28  total_dwelling_units       150634 non-null  int64
 29  1room_sold                 150634 non-null  int64
 30  2room_sold                 150634 non-null  int64
 31  3room_sold                 150634 non-null  int64
 32  4room_sold                 150634 non-null  int64
 33  5room_sold                 150634 non-null  int64
 34  exec_sold                  150634 non-null  int64
 35  multigen_sold              150634 non-null  int64
 36  studio_apartment_sold      150634 non-null  int64
 37  1room_rental               150634 non-null  int64
 38  2room_rental               150634 non-null  int64
 39  3room_rental               150634 non-null  int64
 40  other_room_rental          150634 non-null  int64
 41  postal                     150634 non-null  object
 42  Latitude                   150634 non-null  float64
 43  Longitude                  150634 non-null  float64
 44  planning_area              150634 non-null  object
 45  Mall_Nearest_Distance      149805 non-null  float64
 46  Mall_Within_500m           57845 non-null   float64
 47  Mall_Within_1km            125208 non-null  float64
 48  Mall_Within_2km            148694 non-null  float64
 49  Hawker_Nearest_Distance    150634 non-null  float64
 50  Hawker_Within_500m         53244 non-null   float64
 51  Hawker_Within_1km          89766 non-null   float64
 52  Hawker_Within_2km          121432 non-null  float64
 53  hawker_food_stalls         150634 non-null  int64
 54  hawker_market_stalls       150634 non-null  int64
 55  mrt_nearest_distance       150634 non-null  float64
 56  mrt_name                   150634 non-null  object
 57  bus_interchange            150634 non-null  int64
 58  mrt_interchange            150634 non-null  int64
 59  mrt_latitude               150634 non-null  float64
 60  mrt_longitude              150634 non-null  float64
 61  bus_stop_nearest_distance  150634 non-null  float64
 62  bus_stop_name              150634 non-null  object
 63  bus_stop_latitude          150634 non-null  float64
 64  bus_stop_longitude         150634 non-null  float64
 65  pri_sch_nearest_distance   150634 non-null  float64
 66  pri_sch_name               150634 non-null  object
 67  vacancy                    150634 non-null  int64
 68  pri_sch_affiliation        150634 non-null  int64
 69  pri_sch_latitude           150634 non-null  float64
 70  pri_sch_longitude          150634 non-null  float64
 71  sec_sch_nearest_dist       150634 non-null  float64
 72  sec_sch_name               150634 non-null  object
 73  cutoff_point               150634 non-null  int64
 74  affiliation                150634 non-null  int64
 75  sec_sch_latitude           150634 non-null  float64
 76  sec_sch_longitude          150634 non-null  float64
dtypes: float64(25), int64(32), object(20)
memory usage: 88.5+ MB

#### Dealing with 'NIL' values in the 'postal' column

Blocks in the same area ('street_name' column) should have similar postal codes, ie. the first 3 digits should be similar. That said, there may still be a few different types of postal code within the same area. To make a decision on which to assign, latitude and longitude are taken into consideration. Doing so will reveal two things:
- First 3 digits of postal codes of blocks closest to the target block;
- First 3 digits of postal codes of blocks with block numbers closest to the target block.

In [1391]:
trn[trn.postal.str.isnumeric() == False].postal.unique()

array(['NIL'], dtype=object)

In [1392]:
# Calculation of distance from longitude & latitude from https://www.geeksforgeeks.org/program-distance-two-points-earth/

def distance(street='', town=None, missing_col=''):
    
    if town == None:
        df = trn[trn.street_name.isin([street])][['block', 'postal', 'street_name', 'Mall_Nearest_Distance', 'Mall_Within_500m', 'Mall_Within_1km', 'Mall_Within_2km', 'Longitude', 'Latitude']]
    else:
        df = trn[trn.town.isin([town])][['block', 'postal', 'street_name', 'Mall_Nearest_Distance', 'Mall_Within_500m', 'Mall_Within_1km', 'Mall_Within_2km', 'Longitude', 'Latitude']]
    
    df.drop_duplicates(subset=['Mall_Nearest_Distance', 'Longitude', 'Latitude'], inplace=True)
    
    df['Longitude'] = df.Longitude.map(lambda x: radians(x))
    df['Latitude'] = df.Latitude.map(lambda x: radians(x))
        
    lon1, lat1 = list(df[(df[missing_col].isnull()) & (df.street_name.isin([street]))].Longitude.unique()), list(df[(df[missing_col].isnull()) & (df.street_name.isin([street]))].Latitude.unique())
    
    for i in range(len(lon1)):
        
        df[f'lon1_{i}'] = lon1[i]
        df[f'lat1_{i}'] = lat1[i]
        
        df[f'dlon_{i}'] = df.Longitude - df[f'lon1_{i}']
        df[f'dlat_{i}'] = df.Latitude - df[f'lat1_{i}']
        
        df[f'a_{i}'] = 0
        
        df[f'a_{i}'] = df[f'dlat_{i}'].map(lambda x: sin(x / 2)**2) + df[f'lat1_{i}'].map(lambda x: cos(x)) * df.Latitude.map(lambda x: cos(x)) * df[f'dlon_{i}'].map(lambda x: sin(x / 2)**2)
        
        df[f'c_{i}'] = df[f'a_{i}'].map(lambda x: 2 * asin(sqrt(x)))
        
        df[f'Distance_{i}'] = df[f'c_{i}'].map(lambda x: x * 6371 * 1000)
    
    return df.iloc[:, df.columns.map(lambda x: x.startswith(('block', 'postal', 'Mall_Nearest_Distance', 'Distance')))]

In [1393]:
trn['postal'] = trn.postal.map(lambda x: str(x))

In [1394]:
trn['postal'] = trn.postal.map(lambda x: np.nan if x in ['NIL'] else x)

In [1395]:
trn[trn.postal.isnull() == True][['block', 'street_name']].drop_duplicates()

     block         street_name
880    215  CHOA CHU KANG CTRL
3030   238    COMPASSVALE WALK

In [1396]:
distance(street='CHOA CHU KANG CTRL', missing_col='postal').sort_values('Distance_0').head(5)

      block  postal  Mall_Nearest_Distance  Distance_0
880     215     NaN             300.156625    0.000000
8122    216  680216             299.385682   17.500518
24446   214  680214             303.831770   53.673124
3751    217  680217             242.948553   60.536651
17223   212  680212             371.138174   74.551625

In [1397]:
distance(street='COMPASSVALE WALK', missing_col='postal').sort_values('Distance_0').head(5)

      block  postal  Mall_Nearest_Distance  Distance_0
3030    238     NaN             448.929181    0.000000
17279   237  540237             464.571810   65.597126
2414    236  540236             527.031302   86.255979
7567    240  540240             362.051069   86.880028
43105   235  540235             523.986192  109.653587

In [1398]:
trn.postal.where((trn.postal.isnull() == True) & (trn.block.isin(['215']) == False), '680215', inplace=True)

In [1399]:
trn.postal.where((trn.postal.isnull() == True) & (trn.block.isin(['238']) == False), '540238', inplace=True)

#### Dealing with null values

**'Mall_Nearest_Distance' column**

Like the issue with the postal codes above, this can be roughly approximated using information from blocks closest to the target block. This time, the 'postal', 'Longitude' and 'Latitude' columns will be taken into account. 

Note that it is extremely unlikely that these blocks are right next to a mall:
- There are '0' values for this column, meaning that, for blocks that are right next to a mall, it is reflected in by setting this column's value to '0';
- The 3 related columns - 'Mall_Within_500m', 'Mall_Within_1km', 'Mall_Within_2km' - are always empty as well, indicating that there's just generally missing information, or that beyond a certain distance, values are not recorded.

**All of the remaining 6 columns**

It is likely that the missing values simply mean that there are no malls or hawker centres within the specified area. This is further strengthened by the fact that there are no '0' values across all 6 columns. A check will be done to ensure that this is the case.

In [1400]:
nulls = trn.isnull().sum()

cols_with_nulls = {nulls.index[i]: nulls[i] for i in range(len(nulls.index)) if nulls[i] != 0}

In [1401]:
cols_with_nulls

{'Mall_Nearest_Distance': 829,
 'Mall_Within_500m': 92789,
 'Mall_Within_1km': 25426,
 'Mall_Within_2km': 1940,
 'Hawker_Within_500m': 97390,
 'Hawker_Within_1km': 60868,
 'Hawker_Within_2km': 29202}

In [1402]:
for col in cols_with_nulls.keys():
    print(col, trn[trn[col]==0].shape[0])

Mall_Nearest_Distance 30
Mall_Within_500m 0
Mall_Within_1km 0
Mall_Within_2km 0
Hawker_Within_500m 0
Hawker_Within_1km 0
Hawker_Within_2km 0

In [1403]:
trn[trn.Mall_Nearest_Distance.isnull()][['Mall_Within_500m', 'Mall_Within_1km', 'Mall_Within_2km']].isnull().sum()

Mall_Within_500m    829
Mall_Within_1km     829
Mall_Within_2km     829
dtype: int64

In [1404]:
streets = list(trn[trn.Mall_Nearest_Distance.isnull()].street_name.unique())

In [1405]:
streets_and_blocks = {}

In [1406]:
def compare_blocks(street=''):
    
    blocks = list(trn[trn.street_name.isin([street]) & trn.Mall_Nearest_Distance.isnull()].block.unique())
    
    streets_and_blocks[street] = blocks
    
    nearest_mall = list(trn[trn.street_name.isin([street]) & trn.block.isin(blocks)].Mall_Nearest_Distance.unique())
    
    return nearest_mall

In [1407]:
for street in streets:
    if np.isnan(compare_blocks(street)[0]):
        pass
    else:
        print(compare_blocks(street))

In [1408]:
mall_nearest_distance = {street: {} for street in streets_and_blocks.keys()}

to_expand_area = {}

for street in streets:
    
    try:
    
        df = distance(street=street, missing_col='Mall_Nearest_Distance')

        for i in range(3, len(df.columns)):

            df_sorted = df.sort_values(df.columns[i])

            row = 1
            while np.isnan(df_sorted.iloc[row, 2]) == True:
                row +=1

            mall_nearest_distance[street][df_sorted.iloc[0, 0]] = (df_sorted.iloc[row, 2])
            
    except:
        
        to_expand_area[street] = None
        continue

In [1409]:
for street in to_expand_area:
    to_expand_area[street] = trn[trn.street_name.isin([street])].town.unique()[0]

In [1410]:
for street in to_expand_area.keys():
    
    df = distance(street=street, town=to_expand_area[street], missing_col='Mall_Nearest_Distance')

    for i in range(3, len(df.columns)):

        df_sorted = df.sort_values(df.columns[i])

        row = 1
        while np.isnan(df_sorted.iloc[row, 2]) == True:
            row +=1

        mall_nearest_distance[street][df_sorted.iloc[0, 0]] = (df_sorted.iloc[row, 2])

In [1411]:
col_num_nearest_mall = [i for i in range(len(trn.columns)) if trn.columns[i] == 'Mall_Nearest_Distance'][0]

In [1412]:
for street in mall_nearest_distance.keys():
    for block in mall_nearest_distance[street]:
        trn.iloc[trn[(trn.street_name == street) & (trn.block == block)].index, col_num_nearest_mall] = mall_nearest_distance[street][block]

In [1413]:
col_num_mall_500m = [i for i in range(len(trn.columns)) if trn.columns[i] == 'Mall_Within_500m'][0]

In [1419]:
trn.iloc[trn[np.isnan(trn.Mall_Within_500m)].index, col_num_mall_500m] = np.where(trn.iloc[trn[np.isnan(trn.Mall_Within_500m)].index, col_num_nearest_mall] <= 500, 1, 0)