**NOTES TO SELF**
- Everything should be in folders, except for the README.
- Continue comments, markdown & docstring!
- Keep to 79 letters per line of code as per PEP 8 - use a backslash to split the code.
- MUST have title, xlabels & ylabels for ALL charts!
- Figure out how to embed link - it doesn't work in git.
- Therefore, check every single thing in git before final submission.
- Google violin plot, consider using it.
- Restart kernel & run all cells before submission!
- Make sure slides have more icons & infographics. Not as many words.
- Keep to the timing.
- Continue with pacing, volume, 'catchy lines' (lol) & interaction w/audience.

In [264]:
import pandas as pd
import numpy as np

from math import radians, cos, sin, asin, sqrt
from itertools import combinations

import statsmodels.api as sm

from sklearn.linear_model import LinearRegression, LogisticRegression, LogisticRegressionCV, Ridge, RidgeCV, Lasso, LassoCV, ElasticNet, ElasticNetCV, ridge_regression
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict, GridSearchCV
from sklearn.preprocessing import StandardScaler, PolynomialFeatures, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_squared_log_error, mean_absolute_percentage_error, r2_score, multilabel_confusion_matrix, ConfusionMatrixDisplay

import matplotlib.pyplot as plt
import seaborn as sns

# Data Cleaning
---
**Key areas**:
- Duplicate rows
- Null (and equivalent) values

In [265]:
trn = pd.read_csv('../data/train.csv')

C:\Users\65902\AppData\Local\Temp\ipykernel_18596\4164927454.py:1: DtypeWarning: Columns (41) have mixed types. Specify dtype option on import or set low_memory=False.
  trn = pd.read_csv('../data/train.csv')

In [266]:
trn.shape

(150634, 77)

In [291]:
trn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150417 entries, 0 to 150416
Data columns (total 77 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         150417 non-null  int64
 1   Tranc_YearMonth            150417 non-null  object
 2   town                       150417 non-null  object
 3   flat_type                  150417 non-null  object
 4   block                      150417 non-null  object
 5   street_name                150417 non-null  object
 6   storey_range               150417 non-null  object
 7   floor_area_sqm             150417 non-null  float64
 8   flat_model                 150417 non-null  object
 9   lease_commence_date        150417 non-null  int64
 10  resale_price               150417 non-null  float64
 11  Tranc_Year                 150417 non-null  int64
 12  Tranc_Month                150417 non-null  int64
 13  mid_storey                 150417 non-null  int64
 14  lower                      150417 non-null  int64
 15  upper                      150417 non-null  int64
 16  mid                        150417 non-null  int64
 17  full_flat_type             150417 non-null  object
 18  address                    150417 non-null  object
 19  floor_area_sqft            150417 non-null  float64
 20  hdb_age                    150417 non-null  int64
 21  max_floor_lvl              150417 non-null  int64
 22  year_completed             150417 non-null  int64
 23  residential                150417 non-null  object
 24  commercial                 150417 non-null  object
 25  market_hawker              150417 non-null  object
 26  multistorey_carpark        150417 non-null  object
 27  precinct_pavilion          150417 non-null  object
 28  total_dwelling_units       150417 non-null  int64
 29  1room_sold                 150417 non-null  int64
 30  2room_sold                 150417 non-null  int64
 31  3room_sold                 150417 non-null  int64
 32  4room_sold                 150417 non-null  int64
 33  5room_sold                 150417 non-null  int64
 34  exec_sold                  150417 non-null  int64
 35  multigen_sold              150417 non-null  int64
 36  studio_apartment_sold      150417 non-null  int64
 37  1room_rental               150417 non-null  int64
 38  2room_rental               150417 non-null  int64
 39  3room_rental               150417 non-null  int64
 40  other_room_rental          150417 non-null  int64
 41  postal                     150417 non-null  object
 42  Latitude                   150417 non-null  float64
 43  Longitude                  150417 non-null  float64
 44  planning_area              150417 non-null  object
 45  Mall_Nearest_Distance      149591 non-null  float64
 46  Mall_Within_500m           57758 non-null   float64
 47  Mall_Within_1km            125015 non-null  float64
 48  Mall_Within_2km            148482 non-null  float64
 49  Hawker_Nearest_Distance    150417 non-null  float64
 50  Hawker_Within_500m         53171 non-null   float64
 51  Hawker_Within_1km          89638 non-null   float64
 52  Hawker_Within_2km          121265 non-null  float64
 53  hawker_food_stalls         150417 non-null  int64
 54  hawker_market_stalls       150417 non-null  int64
 55  mrt_nearest_distance       150417 non-null  float64
 56  mrt_name                   150417 non-null  object
 57  bus_interchange            150417 non-null  int64
 58  mrt_interchange            150417 non-null  int64
 59  mrt_latitude               150417 non-null  float64
 60  mrt_longitude              150417 non-null  float64
 61  bus_stop_nearest_distance  150417 non-null  float64
 62  bus_stop_name              150417 non-null  object
 63  bus_stop_latitude          150417 non-null  float64
 64  bus_stop_longitude         150417 non-null  float64
 65  pri_sch_nearest_distance   150417 non-null  float64
 66  pri_sch_name               150417 non-null  object
 67  vacancy                    150417 non-null  int64
 68  pri_sch_affiliation        150417 non-null  int64
 69  pri_sch_latitude           150417 non-null  float64
 70  pri_sch_longitude          150417 non-null  float64
 71  sec_sch_nearest_dist       150417 non-null  float64
 72  sec_sch_name               150417 non-null  object
 73  cutoff_point               150417 non-null  int64
 74  affiliation                150417 non-null  int64
 75  sec_sch_latitude           150417 non-null  float64
 76  sec_sch_longitude          150417 non-null  float64
dtypes: float64(25), int64(32), object(20)
memory usage: 88.4+ MB

In [268]:
# Dropping duplicates based on all columns except for the 'id' column.
# Rationale:
# All 'id' values are unique, but a closer look at rows that are identical except for the 'id' column reveals that:
# 1) All are other values are identical;
# 2) 'id' values for identical columns are usually just 1 digit apart.
# The above points, coupled with the fact that it is extremely unlikely that identical sales were made for nearby flats in the same month for the exact same resale price, resulted in the following conclusion:
# These duplicates were likely a result of human error (data entry issues) and should be dropped.

trn.drop_duplicates(trn.columns[1:], inplace=True)

In [269]:
trn.reset_index(drop=True, inplace=True)

#### Dealing with 'NIL' values in the 'postal' column

Blocks in the same area ('street_name' column) should have similar postal codes, ie. the first 3 digits should be similar. That said, there may still be a few different types of postal code within the same area. To make a decision on which to assign, latitude and longitude are taken into consideration. Doing so will reveal two things:
- First 3 digits of postal codes of blocks closest to the target block;
- First 3 digits of postal codes of blocks with block numbers closest to the target block.

In [270]:
trn[trn.postal.str.isnumeric() == False].postal.unique()

array(['NIL'], dtype=object)

In [271]:
# Function to obtain distance between two points based on latitude & longitude values.
# Mathematical formulas obtained from https://www.geeksforgeeks.org/program-distance-two-points-earth/

def distance(df_dist=None, street='', town=None, missing_col=''):
    
    filtered_cols = ['block', 'postal', 'street_name', 'Mall_Nearest_Distance', 'Mall_Within_500m', 'Mall_Within_1km', 'Mall_Within_2km', 'Longitude', 'Latitude']
    
    if town == None:
        df = df_dist[df_dist.street_name.isin([street])][filtered_cols]
        
    else:
        df = df_dist[df_dist.town.isin([town])][filtered_cols]
    
    df.drop_duplicates(subset=['Mall_Nearest_Distance', 'Longitude', 'Latitude'], inplace=True)
    
    df['Longitude'] = df.Longitude.map(lambda x: radians(x))
    df['Latitude'] = df.Latitude.map(lambda x: radians(x))
        
    lon1 = list(df[(df[missing_col].isnull()) & (df.street_name.isin([street]))].Longitude.unique())
    lat1 = list(df[(df[missing_col].isnull()) & (df.street_name.isin([street]))].Latitude.unique())
    
    for i in range(len(lon1)):
        
        df[f'lon1_{i}'] = lon1[i]
        df[f'lat1_{i}'] = lat1[i]
        
        df[f'dlon_{i}'] = df.Longitude - df[f'lon1_{i}']
        df[f'dlat_{i}'] = df.Latitude - df[f'lat1_{i}']
        
        df[f'a_{i}'] = 0
        
        df[f'a_{i}'] = df[f'dlat_{i}'].map(lambda x: sin(x / 2)**2) + df[f'lat1_{i}'].map(lambda x: cos(x)) * df.Latitude.map(lambda x: cos(x)) * df[f'dlon_{i}'].map(lambda x: sin(x / 2)**2)
        
        df[f'c_{i}'] = df[f'a_{i}'].map(lambda x: 2 * asin(sqrt(x)))
        
        df[f'Distance_{i}'] = df[f'c_{i}'].map(lambda x: x * 6371 * 1000)
    
    return df.iloc[:, df.columns.map(lambda x: x.startswith(('block', 'postal', 'Mall_Nearest_Distance', 'Distance')))]

In [272]:
# Standardise values in 'postal' column as str.

trn['postal'] = trn.postal.map(lambda x: str(x))

In [273]:
# Change 'NIL' values in 'postal' column to np.nan.

trn['postal'] = trn.postal.map(lambda x: np.nan if x in ['NIL'] else x)

In [274]:
# Check block & street name of rows that have no postal codes.

trn[trn.postal.isnull() == True][['block', 'street_name']].drop_duplicates()

     block         street_name
880    215  CHOA CHU KANG CTRL
3030   238    COMPASSVALE WALK

In [275]:
# Using the distance() function, check postal codes of blocks nearest to the target block (that has no postal code).

display(distance(df_dist=trn, street='CHOA CHU KANG CTRL', missing_col='postal').sort_values('Distance_0').head())

display(distance(df_dist=trn, street='COMPASSVALE WALK', missing_col='postal').sort_values('Distance_0').head())

      block  postal  Mall_Nearest_Distance  Distance_0
880     215     NaN             300.156625    0.000000
8121    216  680216             299.385682   17.500518
24440   214  680214             303.831770   53.673124
3751    217  680217             242.948553   60.536651
17218   212  680212             371.138174   74.551625

      block  postal  Mall_Nearest_Distance  Distance_0
3030    238     NaN             448.929181    0.000000
17274   237  540237             464.571810   65.597126
2414    236  540236             527.031302   86.255979
7567    240  540240             362.051069   86.880028
43090   235  540235             523.986192  109.653587

In [276]:
# Update postal codes of blocks with no postal codes.
# First 3 digits: same as that of nearest blocks.
# Last 3 digits: block number (all target block numbers are 3 digits long).

trn.iloc[trn[(trn.postal.isnull() == True) & (trn.block == '215')].index, 41] = '680215'

trn.iloc[trn[(trn.postal.isnull() == True) & (trn.block == '238')].index, 41] = '540238'

#### Dealing with null values

**'Mall_Nearest_Distance' column**

Like the issue with the postal codes above, this can be roughly approximated using information from blocks closest to the target block. This time, the 'postal', 'Longitude' and 'Latitude' columns will be taken into account. 

Note that it is extremely unlikely that these blocks are right next to a mall:
- There are '0' values for this column, meaning that, for blocks that are right next to a mall, it is reflected in by setting this column's value to '0';
- The 3 related columns - 'Mall_Within_500m', 'Mall_Within_1km', 'Mall_Within_2km' - are always empty as well, indicating that there's just generally missing information, or that beyond a certain distance, values are not recorded.

**All of the remaining 6 columns**

It is likely that the missing values simply mean that there are no malls or hawker centres within the specified area. This is further strengthened by the fact that there are no '0' values across all 6 columns. A check will be done to ensure that this is the case.

In [277]:
# Create a dictionary of columns with null values based on the following key: value format:
# column name: number of null values

nulls = trn.isnull().sum()

cols_with_nulls = {nulls.index[i]: nulls[i] for i in range(len(nulls.index)) if nulls[i] != 0}

In [278]:
cols_with_nulls

{'Mall_Nearest_Distance': 826,
 'Mall_Within_500m': 92659,
 'Mall_Within_1km': 25402,
 'Mall_Within_2km': 1935,
 'Hawker_Within_500m': 97246,
 'Hawker_Within_1km': 60779,
 'Hawker_Within_2km': 29152}

In [279]:
# For each of the columns in cols_with_nulls, calculate (across all rows in the DataFrame) number of rows with a value of zero.

for col in cols_with_nulls.keys():
    print(col, trn[trn[col] == 0].shape[0])

Mall_Nearest_Distance 30
Mall_Within_500m 0
Mall_Within_1km 0
Mall_Within_2km 0
Hawker_Within_500m 0
Hawker_Within_1km 0
Hawker_Within_2km 0

In [280]:
# Check if all rows with a null value in the 'Mall_Nearest_Distance' column aldo have null values in each of the 3 columns starting with 'Mall_Within_...'.

trn[trn.Mall_Nearest_Distance.isnull()][['Mall_Within_500m', 'Mall_Within_1km', 'Mall_Within_2km']].isnull().sum()

Mall_Within_500m    826
Mall_Within_1km     826
Mall_Within_2km     826
dtype: int64

In [281]:
# Create a list of street names that have null values in the 'Mall_Nearest_Distance' column.

streets = list(trn[trn.Mall_Nearest_Distance.isnull()].street_name.unique())

In [282]:
streets_and_blocks = {}

In [296]:
# Function to 
# For the specified street:
# 1. Create a list of its blocks that have null values in the 'Mall_Nearest_Distance' column.
# 2. Add a new key: value pair into the streets_and_blocks dictionary where key = street and value = list of blocks.
# 3. Create a list of values extracted from the 'Mall_Nearest_Distance' column using the street & list of blocks as a filter, where...
# ...the aim is to ascertain whether there are any houses for the given street and block that do have a valid value in the 'Mall_Nearest_Distance' column.

def compare_blocks(df=None, street='', dictionary=None):
    
    blocks = list(df[df.street_name.isin([street]) & df.Mall_Nearest_Distance.isnull()].block.unique())
    
    dictionary[street] = blocks
    
    nearest_mall_dist = list(df[df.street_name.isin([street]) & df.block.isin(blocks)].Mall_Nearest_Distance.unique())
    
    return nearest_mall_dist

In [297]:
# Using the compare_blocks() function, check that all blocks (for their corresponding streets) with np.nan values in the 'Mall_Nearest_Distance' column...
# ...have no valid values in the 'Mall_Nearest_Distance' column.
# Ie. All houses for a given target block have np.nan in the 'Mall_Nearest_Distance' column.
# This is done to:
# 1) Prevent overwriting existing values, and
# 2) Check if there are valid values that can be used.

for street in streets:
    
    dist = compare_blocks(df=trn, street=street, dictionary=streets_and_blocks)
    
    if np.isnan(dist[0]) and len(dist) == 1:
        pass
    
    else:
        print(dist)

In [298]:
# Create a dictionary to store key: value pairs where keys are identical to keys from the streets_and_blocks dictionary.
# Create an empty dictionary to store streets that have no valid values in the 'Mall_Nearest_Distance' column, ie. all values are np.nan.

# For each street in the 'streets' list:
# 1. Apply the distance() function and sort resulting DataFrame by distance.
# 2. For each target block, obtain the 'Mall_Nearest_Distance' column value from its closest neighbouring block.
# 3. If step 2 doesn't turn up a result, ie. all blocks in the target street have no valid values in the 'Mall_Nearest_Distance' column, add the street to the to_expand_area dictionary.

mall_nearest_distance = {street: {} for street in streets_and_blocks.keys()}

to_expand_area = {}

for street in streets:
    
    try:
    
        df = distance(df_dist=trn, street=street, missing_col='Mall_Nearest_Distance')

        for i in range(3, len(df.columns)):

            df_sorted = df.sort_values(df.columns[i])

            row = 1
            while np.isnan(df_sorted.iloc[row, 2]) == True:
                row +=1

            mall_nearest_distance[street][df_sorted.iloc[0, 0]] = (df_sorted.iloc[row, 2])
            
    except:
        
        to_expand_area[street] = None
        continue

In [23]:
# For each street (key) in the to_expand_area dictionary, obtain its corresponding town (value).

for street in to_expand_area:
    to_expand_area[street] = trn[trn.street_name.isin([street])].town.unique()[0]

In [24]:
# For each street in the to_expand_area dictionary:
# 1. Apply the distance() function, this time to the entire town of the target street. Sort resulting DataFrame by distance.
# 2. For each target block, obtain the 'Mall_Nearest_Distance' column value from its closest neighbouring block.

for street in to_expand_area.keys():
    
    df = distance(df_dist=trn, street=street, town=to_expand_area[street], missing_col='Mall_Nearest_Distance')

    for i in range(3, len(df.columns)):

        df_sorted = df.sort_values(df.columns[i])

        row = 1
        while np.isnan(df_sorted.iloc[row, 2]) == True:
            row +=1

        mall_nearest_distance[street][df_sorted.iloc[0, 0]] = (df_sorted.iloc[row, 2])

In [25]:
# Obtain the column number corresponding to the 'Mall_Nearest_Distance' column.

col_num_nearest_mall = [i for i in range(len(trn.columns)) if trn.columns[i] == 'Mall_Nearest_Distance'][0]

In [26]:
# Filter the DataFrame to only retain rows that have null values for the 'Mall_Nearest_Distance' column.
# Replace the null value using the distance value from the mall_nearest_distance dictionary.

for street in mall_nearest_distance.keys():
    
    for block in mall_nearest_distance[street]:
        
        trn.iloc[trn[(trn.street_name == street) & (trn.block == block)].index, col_num_nearest_mall] = mall_nearest_distance[street][block]

In [27]:
# For each of the 3 'Mall_Within_...' columns:
# 1. Extract index of rows with null values for target column and filter the DataFrame accordingly.
# 2. Replace the null value with either 0 or 1 depending on that row's value for the 'Mall_Nearest_Distance' column .

for col, dist in zip(['Mall_Within_500m', 'Mall_Within_1km', 'Mall_Within_2km'], [500, 1000, 2000]):
    
    col_num = [i for i in range(len(trn.columns)) if trn.columns[i] == col][0]
    
    trn.iloc[trn[np.isnan(trn[col])].index, col_num] = np.where(trn.iloc[trn[np.isnan(trn[col])].index, col_num_nearest_mall] <= dist, 1, 0)

In [28]:
# For each of the 3 'Hawker_Within_...' columns:
# 1. Check smallest value of Hawker_Nearest_Distance for which the target column has a null value.
# 2. If all values > 500, null values will be substituted with 0.

for col in ['Hawker_Within_500m', 'Hawker_Within_1km', 'Hawker_Within_2km']:
    
    if (trn.iloc[trn[trn[col].isnull() == True].index, :].sort_values('Hawker_Nearest_Distance').iloc[1,0] > 500) == True:
        
        col_num = [i for i in range(len(trn.columns)) if trn.columns[i] == col][0]
        
        trn.iloc[trn[trn[col].isnull() == True].index, col_num] = 0
        
    else:
        
        print(False)

In [29]:
# Check that there are no more null values.

trn.isnull().sum().sum()

0

In [30]:
# Check that the 'mid_storey' and 'mid' columns have identical values.

(trn.iloc[:, 13] == trn.iloc[:, 16]).unique()

array([ True])

In [31]:
# Adding a column that reflects the ate of the HDB flat as at the time it was bought.

trn['hdb_age_at_tranc'] = trn['Tranc_Year'] - trn['lease_commence_date']

In [32]:
# Creating a different DataFrame with the relevant columns from trn.

df = trn[['flat_type', 'floor_area_sqm', 'flat_model', 'Tranc_Year', 'mid', 'max_floor_lvl', 'planning_area', 'Mall_Nearest_Distance', 'Mall_Within_500m',
          'Hawker_Nearest_Distance', 'Hawker_Within_500m', 'mrt_nearest_distance', 'bus_interchange', 'mrt_interchange', 'pri_sch_affiliation', 'sec_sch_nearest_dist',
          'cutoff_point', 'affiliation', 'hdb_age_at_tranc', 'resale_price']]

# Exploratory Data Analysis

In [33]:
# Obtaining the date range of data.

earliest_year = sorted(trn.Tranc_Year.unique())[0]
earliest_month = sorted(trn[trn.Tranc_Year == earliest_year].Tranc_Month.unique())[0]

latest_year = sorted(trn.Tranc_Year.unique())[-1]
latest_month = sorted(trn[trn.Tranc_Year == latest_year].Tranc_Month.unique())[-1]

In [34]:
# Function to determine the most characteristic features of flats belonging to the top and bottom 2.5% of flats by the specified filter.
# Results will be analysed and used to create three models - one each for 'low-end' flats, 'high-end' flats and 'mid-range' flats.

def calc_proportion(df=None, col=None, outlier=None, quantile=None):
    
    if outlier == 'low':
        df_outliers = df[df.resale_price <= df.resale_price.quantile(q=quantile)]
        
    elif outlier == 'high':
        df_outliers = df[df.resale_price >= df.resale_price.quantile(q=quantile)]
    
    info_by_feature = {}
    outliers_info = {}
    
    df_grouped = df.groupby(col).resale_price.describe().sort_values('mean')
    
    for feature, count, mean in zip(df_grouped.index, df_grouped['count'], df_grouped['mean']):
        info_by_feature[feature] = [count, mean]
        
    df_outliers = df_outliers.groupby(col).resale_price.describe().sort_values('mean')
    
    for feature, count, mean in zip(df_outliers.index, df_outliers['count'], df_outliers['mean']):
        outliers_info[feature] = [count, mean]
        
    proportion = {}
        
    for feature in outliers_info.keys():
        proportion[feature] = np.round(outliers_info[feature][0]/info_by_feature[feature][0]*100, 2)
        
    return pd.DataFrame(proportion.values(), index=proportion.keys(), columns=['proportion_in_percentage']).sort_values('proportion_in_percentage', ascending=False)

In [35]:
# Separating columns into numerical & categorical.

numerical_cols = ['floor_area_sqm', 'mid', 'max_floor_lvl', 'Mall_Nearest_Distance', 'Mall_Within_500m', 'Hawker_Nearest_Distance', 'Hawker_Within_500m', 
                  'mrt_nearest_distance',  'sec_sch_nearest_dist', 'cutoff_point', 'hdb_age_at_tranc']

categorical_cols = ['flat_type', 'flat_model', 'Tranc_Year', 'planning_area', 'bus_interchange', 'mrt_interchange', 'pri_sch_affiliation', 'affiliation']

# Modelling - Functions

In [36]:
# Separating features into fixed (will be included in every model) and optional (inclusion depends on model performance).

fixed_cols = ['flat_type', 'floor_area_sqm', 'flat_model', 'mid', 'max_floor_lvl', 'planning_area', 'mrt_nearest_distance', 'hdb_age_at_tranc', 'resale_price']
optional_cols = [col for col in df.columns if col not in fixed_cols]

In [37]:
def get_lr_score(df_temp=None, test_size=0.25, random_state=42):
    
    X_temp = df_temp.drop('resale_price', axis=1)
    y_temp = df_temp['resale_price']
    
    categorical_columns = [col for col in categorical_cols if col in df_temp]
    numerical_columns = [col for col in numerical_cols if col in df_temp]
    
    preprocessor = ColumnTransformer([('one_hot_encoder', OneHotEncoder(handle_unknown="ignore"), categorical_columns), ('standard_scaler', StandardScaler(), numerical_columns)])
    lr = make_pipeline(preprocessor, LinearRegression())
    
    X_trn, X_tst, y_trn, y_tst = train_test_split(X_temp, y_temp, test_size=test_size, random_state=random_state, stratify=None)
    lr.fit(X_trn, y_trn)
    
    return [lr.score(X_trn, y_trn), lr.score(X_tst, y_tst)]

In [38]:
def conditional_lr(num=None, lst=None, outlier=None, col=None):
    col_combis = [list(i) for i in list(combinations(df.drop(fixed_cols, axis=1).columns, num))]

    for cols in col_combis:
        df_temp = df[fixed_cols+cols]
        
        if outlier == 'low':
            if col == 'flat_type':
                df_temp = df_temp[(df_temp.flat_type == '1 ROOM') | (df_temp.flat_type == '2 ROOM')]
            elif col == 'floor_area_sqm':
                df_temp = df_temp[df_temp.floor_area_sqm <= 48]
            elif col == 'hdb_age_at_tranc':
                df_temp = df_temp[df_temp.hdb_age_at_tranc >= 48]
            
        elif outlier == 'high':
            if col == 'floor_area_sqm':
                df_temp = df_temp[df_temp.floor_area_sqm >= 180]
            elif col == 'flat_model':
                df_temp = df_temp[(df_temp.flat_model == 'Type S2') | (df_temp.flat_model == 'Type S1') | (df_temp.flat_model == 'Premium Apartment Loft') | (df_temp.flat_model == 'Terrace') | (df_temp.flat_model == 'DBSS')]
            elif col == 'mid':
                df_temp = df_temp[df_temp.mid >= 29]
            elif col == 'max_floor_lvl':
                df_temp = df_temp[(df_temp.max_floor_lvl >= 40) | ((df_temp.max_floor_lvl <= 2) & (df_temp.flat_model == 'Terrace'))]
            elif col == 'planning_area':
                df_temp = df_temp[(df_temp.planning_area == 'Tanglin') | (df_temp.planning_area == 'Outram') | (df_temp.planning_area == 'Bukit Timah')]
                
        elif outlier == None:
            df_temp = df_temp[(df_temp.hdb_age_at_tranc < 48) & (df_temp.planning_area != 'Tanglin') & (df_temp.planning_area != 'Outram') & (df_temp.planning_area != 'Bukit Timah')]

        scores = get_lr_score(df_temp=df_temp)

        if scores[0] < 0.7 or scores[1] < 0.7:
            continue
        else:
            lst.append([outlier, col, df_temp.shape[0]])
            lst[-1] += scores
            lst[-1] += cols

In [39]:
def lr_l1_l2_cv(model_type=None, df_model=None, test_size=0.2, random_state=42):
    
    X = df_model.drop('resale_price', axis=1)
    y = df_model['resale_price']
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state, stratify=None)
    
    categorical_columns = [col for col in categorical_cols if col in df_model]
    numerical_columns = [col for col in numerical_cols if col in df_model]
    
    ss = StandardScaler()
    ss.fit(X_train[numerical_columns])
    X_train_ss = ss.transform(X_train[numerical_columns])
    X_test_ss = ss.transform(X_test[numerical_columns])
    
    ohe = OneHotEncoder(drop='first', sparse=False)
    ohe.fit(X_train[categorical_columns])
    X_train_ohe = ohe.transform(X_train[categorical_columns])
    X_test_ohe = ohe.transform(X_test[categorical_columns])
    
    X_train_processed = np.concatenate([X_train_ss, X_train_ohe], axis=1)
    X_test_processed = np.concatenate([X_test_ss, X_test_ohe], axis=1)
    
    if model_type == 'lr':
        model = LinearRegression()
 
    elif model_type == 'l1':       
        model = LassoCV(n_alphas=100, cv=5)

    elif model_type == 'l2':     
        model = RidgeCV(alphas=np.logspace(0, 5, 100), cv=5)
        
    model.fit(X_train_processed, y_train)
        
    return [model, 
            model.score(X_train_processed, y_train), model.score(X_test_processed, y_test), 
            list(ss.get_feature_names_out(numerical_columns))+list(ohe.get_feature_names_out(categorical_columns))]

# Modelling - separating `df` into low/mid/high

In [40]:
df_lr_outliers = pd.read_csv('../data/df_lr_outliers.csv')
df_lr_outliers.drop('Unnamed: 0', axis=1, inplace=True)

In [41]:
df_lr_outliers[(abs(df_lr_outliers.train_score - df_lr_outliers.test_score) <= 0.005) & (df_lr_outliers.type == 'high')].sort_values('train_score', ascending=False).head()

,type,filter_col,size,train_score,test_score,additional_col_1,additional_col_2,additional_col_3,additional_col_4,additional_col_5,additional_col_6,additional_col_7,additional_col_8,additional_col_9,additional_col_10,additional_col_11
11571,high,planning_area,1146,0.967201,0.964865,Tranc_Year,Mall_Nearest_Distance,Hawker_Nearest_Distance,Hawker_Within_500m,mrt_interchange,pri_sch_affiliation,sec_sch_nearest_dist,cutoff_point,affiliation,NaN,NaN
11439,high,planning_area,1146,0.967168,0.964694,Tranc_Year,Mall_Nearest_Distance,Hawker_Nearest_Distance,Hawker_Within_500m,mrt_interchange,pri_sch_affiliation,sec_sch_nearest_dist,cutoff_point,NaN,NaN,NaN
11594,high,planning_area,1146,0.967167,0.964879,Tranc_Year,Mall_Nearest_Distance,Mall_Within_500m,Hawker_Nearest_Distance,Hawker_Within_500m,bus_interchange,mrt_interchange,pri_sch_affiliation,sec_sch_nearest_dist,affiliation,NaN
11435,high,planning_area,1146,0.967153,0.964464,Tranc_Year,Mall_Nearest_Distance,Hawker_Nearest_Distance,Hawker_Within_500m,bus_interchange,pri_sch_affiliation,sec_sch_nearest_dist,cutoff_point,NaN,NaN,NaN
11566,high,planning_area,1146,0.967152,0.964889,Tranc_Year,Mall_Nearest_Distance,Hawker_Nearest_Distance,Hawker_Within_500m,bus_interchange,mrt_interchange,pri_sch_affiliation,sec_sch_nearest_dist,cutoff_point,NaN,NaN

In [42]:
# df_lr_outliers[df_lr_outliers.type == 'low'][[f'additional_col_{i}' for i in range(1,12)]].apply(pd.Series.value_counts).transpose().sum().sort_values(ascending=False)

In [43]:
df_lr = pd.read_csv('../data/df_lr.csv')
df_lr.drop(['Unnamed: 0', 'type', 'filter_col'], axis=1, inplace=True)

In [44]:
df_lr[abs(df_lr.train_score - df_lr.test_score) <= 0.005].sort_values('train_score', ascending=False).head()

,size,train_score,test_score,additional_col_1,additional_col_2,additional_col_3,additional_col_4,additional_col_5,additional_col_6,additional_col_7,additional_col_8,additional_col_9,additional_col_10,additional_col_11
2047,147355,0.888265,0.888698,Tranc_Year,Mall_Nearest_Distance,Mall_Within_500m,Hawker_Nearest_Distance,Hawker_Within_500m,bus_interchange,mrt_interchange,pri_sch_affiliation,sec_sch_nearest_dist,cutoff_point,affiliation
2039,147355,0.888257,0.888704,Tranc_Year,Mall_Nearest_Distance,Mall_Within_500m,Hawker_Nearest_Distance,Hawker_Within_500m,bus_interchange,mrt_interchange,sec_sch_nearest_dist,cutoff_point,affiliation,NaN
2037,147355,0.888245,0.888675,Tranc_Year,Mall_Nearest_Distance,Mall_Within_500m,Hawker_Nearest_Distance,Hawker_Within_500m,bus_interchange,mrt_interchange,pri_sch_affiliation,sec_sch_nearest_dist,affiliation,NaN
1985,147355,0.888233,0.888682,Tranc_Year,Mall_Nearest_Distance,Mall_Within_500m,Hawker_Nearest_Distance,Hawker_Within_500m,bus_interchange,mrt_interchange,sec_sch_nearest_dist,affiliation,NaN,NaN
2042,147355,0.888155,0.888631,Tranc_Year,Mall_Nearest_Distance,Mall_Within_500m,Hawker_Nearest_Distance,bus_interchange,mrt_interchange,pri_sch_affiliation,sec_sch_nearest_dist,cutoff_point,affiliation,NaN

In [45]:
# df_lr[[f'additional_col_{i}' for i in range(1,11)]].apply(pd.Series.value_counts).transpose().sum().sort_values(ascending=False)

In [201]:
df_low = df[(df.hdb_age_at_tranc >= 48)].drop(['Tranc_Year', 'Hawker_Nearest_Distance', 'pri_sch_affiliation', 'sec_sch_nearest_dist'], axis=1)

In [202]:
df_high = df[(df.planning_area == 'Tanglin') | (df.planning_area == 'Outram') | (df.planning_area == 'Bukit Timah')].drop(['Mall_Within_500m', 'bus_interchange'], axis=1)

In [203]:
df_mid = df[(df.hdb_age_at_tranc < 48) & (df.planning_area != 'Tanglin') & (df.planning_area != 'Outram') & (df.planning_area != 'Bukit Timah')]

# Modelling (LR) - low/mid/high

In [49]:
lr_low = lr_l1_l2_cv(model_type='lr', df_model=df_low)

In [50]:
lr_high = lr_l1_l2_cv(model_type='lr', df_model=df_high)

In [51]:
lr_mid = lr_l1_l2_cv(model_type='lr', df_model=df_mid)

# Modelling (Ridge) - low/mid/high

In [52]:
ridge_low = lr_l1_l2_cv(model_type='l2', df_model=df_low)

In [53]:
ridge_high = lr_l1_l2_cv(model_type='l2', df_model=df_high)

In [54]:
ridge_mid = lr_l1_l2_cv(model_type='l2', df_model=df_mid)

# Modelling (Lasso) - low/mid/high

In [55]:
lasso_low = lr_l1_l2_cv(model_type='l1', df_model=df_low)

In [56]:
lasso_high = lr_l1_l2_cv(model_type='l1', df_model=df_high)

In [57]:
lasso_mid = lr_l1_l2_cv(model_type='l1', df_model=df_mid)

# Modelling - comparing scores

In [58]:
lr_low[1:3], ridge_low[1:3], lasso_low[1:3]

([0.8880643938942949, 0.8942678961134312],
 [0.88688893958256, 0.8919990831218172],
 [0.8871163993575322, 0.8936688867994856])

In [59]:
lr_high[1:3], ridge_high[1:3], lasso_high[1:3]

([0.9672303918911014, 0.9646632134173642],
 [0.9652558865680674, 0.9633061995993794],
 [0.9647179612398966, 0.9640090398270454])

In [60]:
lr_mid[1:3], ridge_mid[1:3], lasso_mid[1:3]

([0.8882649537041322, 0.8886958697264602],
 [0.8882595759205115, 0.8887007934603197],
 [0.8843034767694236, 0.8852096627454584])

# Modelling - comparing coefficients

In [61]:
models_low = [lr_low, ridge_low, lasso_low]
models_high = [lr_high, ridge_high, lasso_high]
models_mid = [lr_mid, ridge_mid, lasso_mid]

In [62]:
def get_coefs_df(models_list=None):
    coefs = [int(models_list[i][0].coef_[x]) for x in range(len(models_list[0][0].coef_)) for i in range(len(models_list))]
    coefs_dict = {feature: lst for feature, lst in zip(models_list[0][-1], [coefs[i:i+3] for i in range(0, len(coefs), 3)])}

    df_coefs = pd.DataFrame.from_dict(coefs_dict,
                                      orient='index',
                                      columns=['lr', 'ridge', 'lasso'])
    
    return df_coefs

# Code for data that were converted into .csv files
---
**Relevant .csv files**:
- df_lr_outliers.csv
- df_lr.csv

In [63]:
# optimal_combis_outliers = []

# for outlier, col in zip(['low' for i in range(3)]+['high' for i in range(5)], 
#                         ['flat_type', 'floor_area_sqm', 'hdb_age_at_tranc', 'floor_area_sqm', 'flat_model', 'mid', 'max_floor_lvl', 'planning_area']):
    
#     for i in range(len(optional_cols)+1):
        
#         conditional_lr(num=i, lst=optimal_combis_outliers, outlier=outlier, col=col)

In [64]:
# optimal_combis_outliers_dict = {i: lst for i, lst in zip(range(len(optimal_combis_outliers)), optimal_combis_outliers)}

# df_lr_outliers = pd.DataFrame.from_dict(optimal_combis_outliers_dict,
#                                       orient='index',
#                                       columns=['type', 'filter_col', 'size', 'train_score', 'test_score']+[f'additional_col_{i}' for i in range(1, len(optional_cols)+1)])

In [65]:
# df_lr_outliers.to_csv('../data/df_lr_outliers.csv')

In [66]:
# optimal_combis = []
    
# for i in range(len(optional_cols)+1):

#     conditional_lr(num=i, lst=optimal_combis)

In [67]:
# optimal_combis_dict = {i: lst for i, lst in zip(range(len(optimal_combis)), optimal_combis)}

# df_lr = pd.DataFrame.from_dict(optimal_combis_dict,
#                                orient='index',
#                                columns=['type', 'filter_col', 'size', 'train_score', 'test_score']+[f'additional_col_{i}' for i in range(1, len(optional_cols)+1)])

In [68]:
# df_lr.to_csv('../data/df_lr.csv')

# Predictions

In [170]:
tst = pd.read_csv('../data/test.csv')

C:\Users\65902\AppData\Local\Temp\ipykernel_18596\485150523.py:1: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  tst = pd.read_csv('../data/test.csv')

In [171]:
tst[tst.postal.str.isnumeric() == False].postal.unique()

array(['NIL'], dtype=object)

In [172]:
# Standardise values in 'postal' column as str.

tst['postal'] = tst.postal.map(lambda x: str(x))

In [173]:
# Change 'NIL' values in 'postal' column to np.nan.

tst['postal'] = tst.postal.map(lambda x: np.nan if x in ['NIL'] else x)

In [174]:
# Check block & street name of rows that have no postal codes.

tst[tst.postal.isnull() == True][['block', 'street_name']].drop_duplicates()

     block       street_name
5137   238  COMPASSVALE WALK

In [175]:
# Using the distance() function, check postal codes of blocks nearest to the target block (that has no postal code).

display(distance(df_dist=tst, street='COMPASSVALE WALK', missing_col='postal').sort_values('Distance_0').head())

      block  postal  Mall_Nearest_Distance  Distance_0
5137    238     NaN             448.929181    0.000000
58      236  540236             527.031302   86.254314
9349    240  540240             362.051069   86.881562
13157   235  540235             523.986192  109.652115
833     239  540239             363.858400  113.716682

In [176]:
# Update postal codes of blocks with no postal codes.
# First 3 digits: same as that of nearest blocks.
# Last 3 digits: block number (all target block numbers are 3 digits long).

tst.iloc[tst[(tst.postal.isnull() == True) & (tst.block == '238')].index, 40] = '540238'

In [177]:
# Create a dictionary of columns with null values based on the following key: value format:
# column name: number of null values

nulls_tst = tst.isnull().sum()

cols_with_nulls_tst = {nulls_tst.index[i]: nulls_tst[i] for i in range(len(nulls_tst.index)) if nulls_tst[i] != 0}

In [178]:
cols_with_nulls_tst

{'Mall_Nearest_Distance': 84,
 'Mall_Within_500m': 10292,
 'Mall_Within_1km': 2786,
 'Mall_Within_2km': 213,
 'Hawker_Within_500m': 10755,
 'Hawker_Within_1km': 6729,
 'Hawker_Within_2km': 3254}

In [179]:
# Create a list of street names that have null values in the 'Mall_Nearest_Distance' column.

streets_tst = list(tst[tst.Mall_Nearest_Distance.isnull()].street_name.unique())

In [180]:
streets_and_blocks_tst = {}

In [181]:
# Using the compare_blocks() function, check that all blocks (for their corresponding streets) with np.nan values in the 'Mall_Nearest_Distance' column...
# ...have no valid values in the 'Mall_Nearest_Distance' column.
# Ie. All houses for a given target block have np.nan in the 'Mall_Nearest_Distance' column.
# This is done to:
# 1) Prevent overwriting existing values, and
# 2) Check if there are valid values that can be used.

for street in streets_tst:
    
    dist = compare_blocks(df=tst, street=street, dictionary=streets_and_blocks_tst)
                          
    if np.isnan(dist[0]) and len(dist) == 1:
        pass
                          
    else:
        print(dist)

In [182]:
# Create a dictionary to store key: value pairs where keys are identical to keys from the streets_and_blocks dictionary.
# Create an empty dictionary to store streets that have no valid values in the 'Mall_Nearest_Distance' column, ie. all values are np.nan.

# For each street in the 'streets' list:
# 1. Apply the distance() function and sort resulting DataFrame by distance.
# 2. For each target block, obtain the 'Mall_Nearest_Distance' column value from its closest neighbouring block.
# 3. If step 2 doesn't turn up a result, ie. all blocks in the target street have no valid values in the 'Mall_Nearest_Distance' column, add the street to the to_expand_area dictionary.

mall_nearest_distance_tst = {street: {} for street in streets_and_blocks_tst.keys()}

to_expand_area_tst = {}

for street in streets_tst:
    
    try:
    
        df_tst = distance(df_dist=tst, street=street, missing_col='Mall_Nearest_Distance')

        for i in range(3, len(df_tst.columns)):

            df_sorted_tst = df_tst.sort_values(df_tst.columns[i])

            row = 1
            while np.isnan(df_sorted_tst.iloc[row, 2]) == True:
                row +=1

            mall_nearest_distance_tst[street][df_sorted_tst.iloc[0, 0]] = (df_sorted_tst.iloc[row, 2])
            
    except:
        
        to_expand_area_tst[street] = None
        continue

In [183]:
# For each street (key) in the to_expand_area dictionary, obtain its corresponding town (value).

for street in to_expand_area_tst:
    to_expand_area_tst[street] = tst[tst.street_name.isin([street])].town.unique()[0]

In [184]:
# For each street in the to_expand_area dictionary:
# 1. Apply the distance() function, this time to the entire town of the target street. Sort resulting DataFrame by distance.
# 2. For each target block, obtain the 'Mall_Nearest_Distance' column value from its closest neighbouring block.

for street in to_expand_area_tst.keys():
    
    df_tst = distance(df_dist=tst, street=street, town=to_expand_area_tst[street], missing_col='Mall_Nearest_Distance')

    for i in range(3, len(df_tst.columns)):

        df_sorted_tst = df_tst.sort_values(df_tst.columns[i])

        row = 1
        while np.isnan(df_sorted_tst.iloc[row, 2]) == True:
            row +=1

        mall_nearest_distance_tst[street][df_sorted_tst.iloc[0, 0]] = (df_sorted_tst.iloc[row, 2])

In [185]:
# Obtain the column number corresponding to the 'Mall_Nearest_Distance' column.

col_num_nearest_mall_tst = [i for i in range(len(tst.columns)) if tst.columns[i] == 'Mall_Nearest_Distance'][0]

In [186]:
# Filter the DataFrame to only retain rows that have null values for the 'Mall_Nearest_Distance' column.
# Replace the null value using the distance value from the mall_nearest_distance dictionary.

for street in mall_nearest_distance_tst.keys():
    
    for block in mall_nearest_distance_tst[street]:
        
        tst.iloc[tst[(tst.street_name == street) & (tst.block == block)].index, col_num_nearest_mall_tst] = mall_nearest_distance_tst[street][block]

In [187]:
# For each of the 3 'Mall_Within_...' columns:
# 1. Extract index of rows with null values for target column and filter the DataFrame accordingly.
# 2. Replace the null value with either 0 or 1 depending on that row's value for the 'Mall_Nearest_Distance' column .

for col, dist in zip(['Mall_Within_500m', 'Mall_Within_1km', 'Mall_Within_2km'], [500, 1000, 2000]):
    
    col_num = [i for i in range(len(tst.columns)) if tst.columns[i] == col][0]
    
    tst.iloc[tst[np.isnan(tst[col])].index, col_num] = np.where(tst.iloc[tst[np.isnan(tst[col])].index, col_num_nearest_mall_tst] <= dist, 1, 0)

In [188]:
# For each of the 3 'Hawker_Within_...' columns:
# 1. Check smallest value of Hawker_Nearest_Distance for which the target column has a null value.
# 2. If all values > 500, null values will be substituted with 0.

for col in ['Hawker_Within_500m', 'Hawker_Within_1km', 'Hawker_Within_2km']:
    
    if (tst.iloc[tst[tst[col].isnull() == True].index, :].sort_values('Hawker_Nearest_Distance').iloc[1,0] > 500) == True:
        
        col_num = [i for i in range(len(tst.columns)) if tst.columns[i] == col][0]
        
        tst.iloc[tst[tst[col].isnull() == True].index, col_num] = 0
        
    else:
        
        print(False)

In [189]:
# Check that there are no more null values.

tst.isnull().sum().sum()

0

In [194]:
# Adding a column that reflects the ate of the HDB flat as at the time it was bought.

tst['hdb_age_at_tranc'] = tst['Tranc_Year'] - tst['lease_commence_date']

In [258]:
# Creating a different DataFrame with the relevant columns from trn.

df_tst = tst[['id', 'flat_type', 'floor_area_sqm', 'flat_model', 'Tranc_Year', 'mid', 'max_floor_lvl', 'planning_area', 'Mall_Nearest_Distance', 'Mall_Within_500m',
          'Hawker_Nearest_Distance', 'Hawker_Within_500m', 'mrt_nearest_distance', 'bus_interchange', 'mrt_interchange', 'pri_sch_affiliation', 'sec_sch_nearest_dist',
          'cutoff_point', 'affiliation', 'hdb_age_at_tranc']]

In [259]:
def prep_test_data(df_model=None):
    
    # df_id = df_model['id']
    
    df_model = df_model.drop('id', axis=1)
    
    categorical_columns = [col for col in categorical_cols if col in df_model]
    numerical_columns = [col for col in numerical_cols if col in df_model]
    
    ss = StandardScaler()
    df_ss = ss.fit_transform(df_model[numerical_columns])
    
    ohe = OneHotEncoder(drop='first', sparse=False)
    df_ohe = ohe.fit_transform(df_model[categorical_columns])
    
    df_processed = np.concatenate([df_ss, df_ohe], axis=1)
    
    # return [df_id, df_processed]
    return df_processed

In [260]:
df_low_tst = df_tst[(df_tst.hdb_age_at_tranc >= 48)].drop(['Tranc_Year', 'Hawker_Nearest_Distance', 'pri_sch_affiliation', 'sec_sch_nearest_dist'], axis=1)

In [261]:
df_high_tst = df_tst[(df_tst.planning_area == 'Tanglin') | (df.planning_area == 'Outram') | (df.planning_area == 'Bukit Timah')].drop(['Mall_Within_500m', 'bus_interchange'], axis=1)

C:\Users\65902\AppData\Local\Temp\ipykernel_18596\2826666526.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_high_tst = df_tst[(df_tst.planning_area == 'Tanglin') | (df.planning_area == 'Outram') | (df.planning_area == 'Bukit Timah')].drop(['Mall_Within_500m', 'bus_interchange'], axis=1)

In [262]:
df_mid_tst = df_tst[(df_tst.hdb_age_at_tranc < 48) & (df.planning_area != 'Tanglin') & (df.planning_area != 'Outram') & (df.planning_area != 'Bukit Timah')]

C:\Users\65902\AppData\Local\Temp\ipykernel_18596\2199649429.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_mid_tst = df_tst[(df_tst.hdb_age_at_tranc < 48) & (df.planning_area != 'Tanglin') & (df.planning_area != 'Outram') & (df.planning_area != 'Bukit Timah')]

In [263]:
# df_low_tst_id, df_low_tst_processed = prep_test_data(df_model=df_low_tst)[0], prep_test_data(df_model=df_low_tst)[1]

# lr_low[0].predict(df_low_tst_processed)
lr_high[0].predict(prep_test_data(df_model=df_high_tst))

ValueError: X has 64 features, but LinearRegression is expecting 36 features as input.

# Miscellaneous

In [ ]:
# df_ohe = trn.copy()

In [ ]:
# df_ohe.drop([df_ohe.columns[i] for i in [0,1,2,4,6,13,14,15,17,18,19,23,42,43,56,59,60,62,63,64,75,76]], axis=1, inplace=True)

In [ ]:
# corr_num_cols = {k: v for k, v in zip(df_ohe.corr().sort_values('resale_price', ascending=False)['resale_price'].index, 
#                                       list(df_ohe.corr().sort_values('resale_price', ascending=False)['resale_price']))}

In [ ]:
# num_cols = list(corr_num_cols.keys())

In [ ]:
# for col in df_ohe.columns:
    
#     if col not in num_cols:
        
#         df_dummy = pd.get_dummies(df_ohe[col], prefix=col)
#         df_dummy['resale_price'] = df_ohe['resale_price']
        
#         col_name = df_dummy.corr().sort_values('resale_price', ascending=False)['resale_price'].index[1:]
#         corr = list(df_dummy.corr().sort_values('resale_price', ascending=False)['resale_price'])[1:]

#         for k, v in zip(col_name, corr):
#             corr_num_cols[k] = v

In [ ]:
# for col in corr_num_cols.keys():
#     corr_num_cols[col] = np.round(corr_num_cols[col], 5)

In [ ]:
# del corr_num_cols['resale_price']

In [ ]:
# df_corr = pd.DataFrame(corr_num_cols.values(), index=corr_num_cols.keys(), 
#                        columns=['correlation_with_resale_price']).sort_values('correlation_with_resale_price', ascending=False)